html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #121212;
    color: #fff;
    height: 100%;
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sidebar {
    width: 80px;
    background: #000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .sidebar-item {
   margin: 5px;
    text-align: center;
    cursor: pointer;
    
  }
 
  
  .logo-small {
    width: 40%;
    margin-bottom: 10px;
  }

 



  .bottom-bar {
    position: fixed;
    bottom: 0;
    left:0; 
    right: 0;
    background: #181818;
    border-top: 1px solid #333;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .track-info {
    margin-bottom: 10px;
  }
  
  .track-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .track-artist {
    font-size: 12px;
    opacity: 0.7;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 13px;
    justify-content: space-between;
  }
  
  .progress-bar {
    flex: 1;
    height: 4px;
    background: #333;
    margin: 0 10px;
    border-radius: 2px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background: white;
    border-radius: 2px;
  }
  
  .time {
    width: 40px;
    text-align: center;
  }
  


  .top-bar {
    background: #181818;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  
  .upgrade-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
  }
  
  @media (min-width: 800px) {


    .logo-small {
        width: 20%;
        margin-bottom: 10px;
      }
    
     
    .sidebar {
        width: 220px;
    

  }

  .bottom-bar {

    padding: 35px 35px;
  }
  
  .top-bar {
    height: 120px;
  }

  .upgrade-btn {
    padding: 20px 100px;
    border-radius: 60px;
    font-size: 18px;
  }



  .sidebar-item {
    margin-right: 120px;
  }

  .logo-small {
    margin-right: 110px;
  }

}




@media (min-width: 1440px) {

    .logo-small {
        width: 20%;
        margin-bottom: 10px;
      }
    
     
    .sidebar {
        width: 350px;
    

  }

  .bottom-bar {

    padding: 45px 45px;
  }
  
  .top-bar {
    height: 150px;
  }

  .upgrade-btn {
    padding: 30px 120px;
    border-radius: 60px;
    font-size: 20px;
  }



  .sidebar-item {
    margin-right: 250px;
  }

  .logo-small {
    margin-right: 230px;
  }




}